@charset "UTF-8";
/* CSS Document */
/*Colours - green #84b400;*/

*{ padding: 0; margin: 0;}
body {font-family: 'Raleway', sans-serif; color: #333; font-weight: 300; font-size: 1.2em!important; font-style: normal; background: url(images/body-bg.jpg) repeat-x bottom center;}

body.squeezeBody{ background: none;}

.anp_bootstrap_nav .pronav_list > li  a.ResEnt{ background: url(images/resources-icons.gif) no-repeat!important;}

li a.ResFood{ background: url(images/resources-icons.gif) no-repeat 0 -40px!important;}
li a.ResMark{ background: url(images/resources-icons.gif) no-repeat 0 -80px!important;}
li a.ResOp{ background: url(images/resources-icons.gif) no-repeat 0 -120px!important;}
li a.ResPeop{ background: url(images/resources-icons.gif) no-repeat 0 -160px!important;}
li a.ResProf{ background: url(images/resources-icons.gif) no-repeat 0 -200px!important;}
li a.ResVideo{ background: url(images/resources-icons.gif) no-repeat 0 -240px!important;}
li a.ResAll{ background: url(images/resources-icons.gif) no-repeat 0 -280px!important;}

.allResources{ text-align: right; display: block; padding: 10px 20px 0 0;}


input.regButt{background: #333 url(images/tick-button.png) no-repeat 97% -59px!important; width: 100%; border: none; font-family: 'Raleway', sans-serif; 
cursor: pointer; color: #fff; padding: 15px 0 15px 15px; font-size: 18px; text-align: left; }
input.regButt:hover{background: url(images/tick-button.png) no-repeat 97% 7px  #F17F67!important;}


.sideForm input.regButt{background: #333!important}

.darkButt, .NonmemberTrailLink{background: #333 url(images/tick-button.png) no-repeat 97% -59px; width: 100%; border: none; font-family: 'Raleway', sans-serif; 
cursor: pointer; color: #fff; padding: 15px 0 15px 15px; font-size: 18px; text-align: left; }
.darkButt:hover, .NonmemberTrailLink:hover{background: url(images/tick-button.png) no-repeat 97% 7px  #F17F67;}


input[type="submit"][disabled=disabled],input[type="submit"]:disabled {
background: #70940D; width: 100%; font-family: 'Raleway', sans-serif; padding: 15px 0; text-align: center; font-size: 18px; cursor: default;
}




.formimage{padding: 20px 0;}
.formIntro{margin: 20px 0; width: 100%; float: left; height: auto;}

.price,.ccm-core-commerce-add-to-cart-product-price,.ccm-core-commerce-add-to-cart-submit{display: none!important;}

.ccm-core-commerce-add-to-cart-product-price {
display: none!important;
}


h1{ color:#84b400; font-size:2.1em; margin: 15px 0; line-height:120%;}
h1 span{color: #333;}

h2{ color: #333; font-size:1.4em; font-weight: 400; padding: 0 0 15px 0; }
h3{ color: #333; font-weight: 700; font-style: normal; margin:20px 0 20px 0; font-size: 24px; }
h4{ padding: 10px 0; font-size: 20px; }

aside h3{color:#84b400!important; font-size: 19px; border-bottom: 1px #e9e9e9 solid; padding: 0 0 10px 0; margin: 0 0 10px 0;}
aside h4{ color: #fff!important;}


.partnerFull{ width: 100%; background: #f4f4f4; float: left; padding: 30px 0;} 
img.PartnerLogo{ padding: 15px 0 30px 0; border-top: 1px #e9e9e9 solid;}

h3.home { font-size:46px; color:#333; text-align:center; font-weight:300; margin:30px 0 20px 0; line-height:46px; }
h3.home span { font-weight:700;}
.centered { text-align:center;}
.textPad { padding:0 55px; margin:0 0 30px 0;}

.ImageRight{float: right;}

a { color:#84b400; text-decoration:none; -webkit-transition: all .2s ease-in-out;
 -moz-transition: all .2s ease-in-out;
        -ms-transition: all .2s ease-in-out;
        -o-transition: all .2s ease-in-out;
 transition: all .2s ease-in-out;}
 
.mainBody h2{ padding-right: 15px;  padding: 10px 0 10px 0;}
.mainBody p{ padding-right: 15px;}
.mainBody ul{ margin: 15px 0 15px 25px;} 

.topRowPad{ padding: 100px 0 0 0;}
.topRowProd{padding: 30px 0 0 0;}

.membButtSide{width: auto;}

.guaranteeBox{ width: 100%; height: auto; background: #333; color: #fff; padding: 30px; margin: 30px 0 }

.guaranteeBox h3{ color: #fff; font-size: 40px;}

.topRowPadSqueeze{padding: 50px 0 0 0;}
.shareSocial{ border-top: solid 1px #e9e9e9; border-bottom: solid 1px #e9e9e9; padding: 10px 0; marging: 10px 0; text-align: center; }
.fullwidthnav { width:100%; background:#333; padding:10px 0; -webkit-box-shadow: 0 3px 3px 1px rgba(0,0,0,.3);
box-shadow: 0 3px 3px 1px rgba(0,0,0,.3); position: fixed; z-index: 20; }

p{ padding: 0 0 14px 0;}

.rowWide{width: 100%;}
.logo { margin:8px 0 0 0; padding: 0 25px 0 0!important; }
.topLinks { margin:20px 0 0 0; }
a.loginLink{ background: #84B400; color: #fff; padding: 4px 15px;  float:left; margin:0 20px 10px 0; font-size:12px; display:block;}
a.registerLink{ background:url(images/icon-login.png) no-repeat 0 6px; color: #999; margin:0 0 10px 0; padding:5px 0 5px 18px; font-size:12px; float:left; display:block;}
a.loginLink:hover{ background: #5E8200;}
a.registerLink:hover{ color: #fff;}

main ul li,.squeezeForm li,.productInfo ul li{background: url(images/green-tick.gif) no-repeat 0px 11px; list-style: none; padding: 5px 0 5px 35px; font-size: 1.2em; line-height: 25px;}


main ol li {font-size: 1.2em; line-height: 25px; padding: 5px 0 5px 0px;}

.disclaimer{width: 100%; float: left; height: auto; }
.disclaimer p{ font-size: 13px;}

.homeHeader{ background: #84B400; padding: 150px 0 30px 0;}

p.welcome
{
	position: absolute;
	color: #fff;
	font-size: 0.8em;
	top: -25px;
	left: 0px;
	text-align: center;
		
}


.sliderCopy { padding:120px 0 0 0; display:block;}


/*---nathan amends--*/
.anp_bootstrap_nav ol.pronav_list{background:#fff !important;}





/*Next Prev Nav*/
.ccm-next-previous-wrapper{ width: 90px; float: right; margin: 20px 0 0 0; }
.ccm-next-previous-parentlink{ display: none;}
.ccm-next-previous-previouslink a,.ccm-next-previous-nextlink a{ display: block; background: #333; color: #ccc; width: 40px; height: 40px; float: right; text-align: center; font-size: 30px; font-weight: 700; line-height: 38px; border-radius:5px; -webkit-border-radius:5px; -moz-border-radius:5px;  }
.ccm-next-previous-previouslink a:hover,.ccm-next-previous-nextlink a:hover{background: #666; color: #fff;}


/*.nav { background:none}
ul.nav { list-style-type:none!important; padding:10px 0px px 0px; text-align:left}
.nav li { display:inline; text-align:left; padding:10px 35px 0 0}
.nav a { display:inline-block; color:#fff}
.nav a:hover { color:#84B400; }*/

.login a { background:#84B400}

.homeIntro{min-height: 500px;  position: relative; padding-top: 100px; }

.homeText h2{ font-size: 33px; color: #fff; }

.fullwidthheader { width:100%; margin:0; position: relative; background: #333; float: left; min-height: 700px; }

.fullwidthSlider{width:100%; margin:0; position: relative; float: left; min-height: 400px; padding: 80px 0 0 0;}

.fullwidthform{width:100%; margin:0; position: relative; background: #333; float: left;}

.fullwidthheader img{ position: absolute; top: 70px;}

.IntroTextHolder{ position: absolute; z-index: 1; width: 400px; height: 300px; text-align: right;
right: 0; padding: 70px 0 0 0; }

h2.home-Right,h2.home-Left{ color: #84b400; font-size: 60px; font-weight: 700; text-align: right; padding: 90px 0 0 0; }
p.home-Right,p.home-Left{ font-size: 28px; padding: 3px 13px; font-weight: 400; background-color: rgba(0, 0, 0, .6);
color: rgba(0, 0, 0, .6); display: block;  width: auto; margin: 3px 0;}

h2.home-Right,p.home-Right{text-align: right; float: right; }
h2.home-Left,p.home-Left{text-align: left; float: left;}

p.whiteText{ color: #fff;}

a.SlideButt{ padding: 15px 20px 15px 20px; margin: 30px 0 0 0; color:#222; border-radius:8px; -webkit-border-radius:8px; -moz-border-radius:8px; font-weight:700; font-size: 22px; background: #fff;
-webkit-box-shadow: 0 1px 5px 0 rgba(0,0,0,.4);
box-shadow: 0 1px 5px 0 rgba(0,0,0,.4); float: left;}


a.RightButt{ float: right; }

a.videoButt{ background: #fff url(images/video-link-icon.png) no-repeat 92% center; padding: 15px 60px 15px 20px!important;  }
a.videoButt:hover{ background: #f4f4f4 url(images/video-link-icon.png) no-repeat 92% center;  }


.membersSignUpSide{ background: #333; float:left; display:block; margin: 0 0 30px 0; padding: 20px; color: #fff; height:auto;}
.membersSignUpSide h4{ font-size: 26px;}


.videoResponsive { display:none;}
.videoResponsive h2{ color: #84b400; font-size: 44px; font-weight: 700; text-align:center; line-height:48px;}
.videoResponsive p{ font-size: 24px; padding: 10px 0 40px 0; font-weight: 300; color:#fff; text-align:center;}


.bigButt{  padding: 10px 80px 10px 80px; margin: 10px 0 0 0; border-radius:8px; -webkit-border-radius:8px; -moz-border-radius:8px; font-weight:400; font-size: 20px; 
-webkit-box-shadow: 1px 1px 1px 1px #616161;
box-shadow: 1px 1px 1px 1px #616161; float: right;}


.greenButt{ color: #fff; background: #84b400; float: right; padding: 7px 10px; }
.greenButt:hover{ background: #333; }


/*Form Styles*/
.sideForm{ background: #84b400; padding: 20px; margin: 20px 0; display:block; float:left; position: relative}
.sideForm img{width: 100px; float: right; margin: 0 0 0 10px; }
.sideForm h2{ margin: 0!important; color: #fff; font-weight: 700; padding: 0 0 20px 0;}
.sideForm p{font-size: 17px;}

.reveal-modal{ max-width: 853px;}

.watermark{ width: 100%; margin: 5px 0; padding: 5px 10px;}

.button h1 { color:#84B400; font-size:66px; padding:0; margin:0}
.button p { font-size:20px; padding:0; margin:10px 0 40px 0}
.button a { background:#FFFFFF; border-radius:7px; padding:15px 40px; text-decoration:none; color:#3F3F3F; font-size:26px}

.name { color:#FFFFFF; margin:250px 0 0 0 }

.fullwidthform { width:100%; background:#84B400; margin:0 0 25px 0; padding:10px 0; float:left; }
.fullwidthgreen { width:100%; background:#84B400; margin:30px 0 0 0; float:left; }

.Homeform{padding: 0 0;}
.Homeform h2 { color:#FFFFFF; font-size:27px; padding:10px 0 0 0; margin:0}
.Homeform p {color:#FFFFFF; font-size:18px }

.formSubmitButton { background:#333; color:#FFF; padding:10px 0; width: 100%; float: left; display: block; cursor: pointer; border: none; font-size:18px; -webkit-transition: all .2s ease-in-out;
 -moz-transition: all .2s ease-in-out;
        -ms-transition: all .2s ease-in-out;
        -o-transition: all .2s ease-in-out;
 transition: all .2s ease-in-out; font-family: 'Raleway', sans-serif;}
 
.formSubmitButton:hover{ background: #F17F67;}

.guideForm{ padding: 30px 0 0 0;}
.formIntro{ padding: 0!important;}
.formIntro h2.ebook { font-size:24px;}
.guideForm{padding-right: 0!important;}

.bulk { text-align:center}
.bulk h3 { font-size:36px; color:#84B400}
.bulk p { padding:0 65px }

.cluboffer { padding:10px 0}
.sache { background:url(images/offerribbon.png) no-repeat top left; position:absolute; top:0; left:0; width:338px; height:333px}
.offerbox { background:#424251; padding:10px 0}
.offerinfo p{ color:#FFFFFF; text-align:left!important; padding:0}
.offerprice { background:url(images/offerprice.png) no-repeat left top; width:66px; height:47px}
.offerpricetwo { background:url(images/offerpricetwo.png) no-repeat left top; width:66px; height:47px}
.offerpricethree { background:url(images/offerpricethree.png) no-repeat left top; width:66px; height:47px}
.offerpricefour { background:url(images/offerpricefour.png) no-repeat left top; width:66px; height:47px}
.offerpricefive { background:url(images/offerpricefive.png) no-repeat left top; width:66px; height:47px}
.offerpricesix { background:url(images/offerpricesix.png) no-repeat left top; width:66px; height:47px}

.fullwidthtest { width:100%; background:#eeeeee; padding:0px 0; margin:0 0 0px 0; float: left;}

.fullwidthtest h2 { font-size:46px; color:#84B400; text-align:center; font-weight:700; margin:30px 0 40px 0; line-height:46px;}

.testimonial { margin:50px 0}

.blog { margin:0; }
.blog h4 { color:#84B400; font-size:28px; margin:20px 0 0 0}

p span.smallText { font-size:15px;}

/*Testimonials*/

.testBlock { height:auto; display:block; float: left; margin:20px 0;}
.testBlockInner { background:#fff; border-radius:12px; -webkit-border-radius:12px; moz-border-radius:12px; padding:30px; color:#444; -webkit-box-shadow: 0 1px 1px 1px #B8B8B8; box-shadow: 0 1px 1px 1px #B8B8B8; margin:0; height:auto; float:left;}
.testbottom { background: url(images/testpoint.png) no-repeat left; position:absolute; bottom:-50px; left:50px; width:47px; height:28px;}
.testbottomPartners { background: url(images/testpoint.png) no-repeat 50px 0; width:100%; height:28px; float:left;}
.testBlockInner h3{ margin: 0!important;}
.testimage { margin-bottom:30px; }
.testBlock img { margin:10px 10px 0 0; height:70px; width:70px; border-radius:50%; border:4px solid #aaa; float:left;}
.testBlock h5 { color:#84b400; font-size:16px; font-weight:700; margin:10px 0 0 80px ;}
.testBlock h5 span { color:#444; display:block; font-weight:300;}
.testBlockBottom { float:left; width:100%; height:auto;}

.testBlockFull img { margin:10px auto; height:100px; width:100px; border-radius:50%; border:4px solid #aaa; display:block;}
.testBlockInnerFull { background:#fff; border-radius:12px; -webkit-border-radius:12px; moz-border-radius:12px; padding:30px; color:#444; -webkit-box-shadow: 0 1px 1px 1px #B8B8B8; box-shadow: 0 1px 1px 1px #B8B8B8; margin:0; height:auto; float:right;}
.testPartnersFull {background: url(images/testpoint-full.png) no-repeat 50px 0; width:28px; height:100%; display:block; float:right; }
.testBlockFull h5 { color:#84b400; font-size:16px; font-weight:700; margin:10px 0 0 0 ; text-align:center;}
.testBlockFull h5 span { color:#444; display:block; font-weight:300;}
.testBlockleft{ float:left; width:200px; height:100%;}
.videoContent { height:auto; border-left:1px solid #ccc; }



.partners { text-align:center; padding:0 0 30px 0;}
.partners h3 { font-size:46px; color:#84B400; text-align:center; font-weight:300; margin:30px 0 20px 0; line-height:46px}
.partners h3 span { font-weight:700; display:block; }
.partners p { padding:0 70px}
.partlogos { margin:25px 0 50px 0; padding:10px 150px 40px 150px; display:block;}

.fullwidthmembers { width:100%; margin:40px 0 0 0; float: left; background: #f9f9f9; }
.members { text-align:center; padding: 40px 0;}
h3.memberTitle { color:#fff; font-weight:700; font-size:40px;}
p.memberIntro { margin:20px 0;}
p.memberIntro span { font-weight:700; color:#84B400;}

.membButt1{  background: #D9E021!important; font-weight: 700;}
.membButt2{ background: #84B400!important; font-weight: 700;}
.membButt3{ background: #43DDBF!important; font-weight: 700;}
.membButt4{ background: #F17F67!important; font-weight: 700;}
.membButt5{ background: #FAB44E!important; font-weight: 700;}

.membButt1:hover,.membButt2:hover,.membButt3:hover,.membButt4:hover,.membButt5:hover{background: #333!important; }

.membersOverlay{ background: #84b400; width: 94.7%; float: left; height: auto; color: #fff; margin: 0 10px 0 18px; }
.TrialRegistration{ width: 100%; float: left; height: auto; color: #fff; margin: 0 0 0 20px; border-radius: 8px; -moz-border-radius: 8px; padding: 15px; }

.FreeSubscribe{ background: #f4f4f4; width: 100px; border-radius: 8px; -moz-border-radius: 8px; float: right; font-size: 13px; line-height: 14px; padding: 3px 10px; margin: 10px; }

.sideButt{ display: block; width: 90%; margin: 10px 0; background: url(images/tick-button.png) no-repeat 10px 7px #F17F67; color: #fff; height: auto; line-height: 20px; float: left; text-align:left; width: 100%; padding: 10px 0 10px 68px; font-size: 16px; }
.sideButt:hover{ background: #666 url(images/tick-button.png) no-repeat 10px 7px!important;}
.TrialButt{}


.PopularPosts h4{ color: #333!important; border-bottom: solid 1px #e9e9e9;}


span.tick{ background: #f00;}

/* Product Page */
.ccm-core-commerce-product-property-list .ccm-core-commerce-add-to-cart-image {float: left; margin: 8px 15px 0 0; max-width: 150px; }

.ccm-core-commerce-add-to-cart h2{ color:#84b400!important; margin: 0 0 15px 0; font-size: 36px; padding: 0 0 40px 0; }


/*CART OVERRIDES*/

.ccm-input-text,.ccm-input-select{ height: 30px; margin: 5px 0; }
fieldset {
display: block;
margin: 30px 0;
border: none;

}






.footerRow{float: left; width: 100%; height: auto;}

/*Members table*/

.membersbox .grid-2half h4{ text-align: center;
padding: 40px 0 0 0;
text-transform: uppercase;
color: #444;
font-size: 16px;}

.membersbox .grid-2half a{ display: block; width: 90%; margin: 45px 5% 30px 5%; background: #F17F67; color: #fff; height: 40px; line-height: 40px; float: left;}

.membersbox .grid-2half a:hover{ background: #84B400;}

.membersbox .grid-2half p{ text-align: center; font-size: 14px; display: block; height: 100px;}

.membersbox .grid-2half p span{ font-size: 11px;}

.membersbox .grid-2half ul{ list-style: none; margin: 0 0 40px 0}
.membersbox .grid-2half ul li{ text-align: center; padding:0px 0 20px 0px; min-height: 40px; display: block; width: 100%; float: left;}
.membersbox .grid-2half ul li.deepLineSlim{ min-height: 50px; padding:16px 0 40px 0px;}
.membersbox .grid-2half ul li.deepLine{ min-height: 30px; padding:0px 0 85px 0px;}
.membersbox .grid-2half ul li.deepLineThick { min-height: 30px; padding:0px 0 80px 0px;}
.membersbox .grid-2half ul li.deepLineExtra { min-height:30px; padding:10px 0 96px 0px;}
.membersbox .grid-2half ul li.yes { background:url(images/tick.png) no-repeat center center;}
.membersbox .grid-2half ul li.no { background:url(images/cross.png) no-repeat center center;}
.membersbox .grid-2half ul li.deepLine{ min-height: 40px; padding:0px 0 60px 0px;}


.anp-icon-check{color: #84B400; font-size: 26px;}
.anp-icon-times{ color: #F17F67; font-size: 26px;}

div.ccm-paging-top{ color: #fff!important;}

.membersbox{ background: url(images/memberstop.png) no-repeat top center; color:#6C6C72; border-radius:7px;-webkit-box-shadow: 0 2px 7px 1 rgba(0,0,0,0.4);
box-shadow: 0 2px 7px 1px rgba(0,0,0,0.4); padding: 30px 0; background: #fff; }
.membersbox p { text-align:left; padding-left:0}
.membersbox h3  { text-align:left; padding:127px 0 0 0; margin: 0; text-transform:uppercase; color:#444; font-size:16px;}
.membersbox ol { text-align:left; text-decoration:none; margin:0; padding:15px; list-style-type:none; padding:10px 0 0 0; font-size: 14px;}
.membersbox li { padding:10px 0 10px 0px;}
a.members { background: #f17f67; color: #fff; width: 96%; display: block; text-align: center; border-radius:8px; -webkit-border-radius:8px; moz-border-radius:8px; margin:0 5px; padding:6px 0;}
a.members:hover { background: #84b400;}
.freetrial ul { list-style-type:none; text-align:left; margin:0; padding: 10px 0 0 20px}

.memberList { font-size:24px!important; font-weight:700; color:#444; float:left; padding:10px 0 0 0;}


.membersWide{ padding: 30px 50px;}
.membersWide h3{ padding: 20px 0 0 0; color: #84B400; font-weight:700; font-size: 30px;}

td.MemberHead{ background: #000; }

.membPrice{ font-size: 60px;}

p.membPrice span{font-size: 13px;}

.memberResponsiveImage { display:none;}


.squeezeForm h1{ font-size: 60px;}

h3.greenHeader{color: #84B400!important;} 
.LargeHeader{font-size: 30px;}

.buttonHolder{ padding: 30px 0 0 0;}

.buttonHolder .btn.ccm-input-submit {
background: url(images/tick-button.png) no-repeat 95% -50px #F17F67!important; font-size: 30px; 
color: #fff; font-family: 'Raleway', sans-serif;
border: none;
padding: 10px 15px; width: 100%; margin: 10px 0 40px 0;
cursor: pointer; -webkit-transition: all .2s ease-in-out;
 -moz-transition: all .2s ease-in-out;
        -ms-transition: all .2s ease-in-out;
        -o-transition: all .2s ease-in-out;
 transition: all .2s ease-in-out;
}

.buttonHolder .btn.ccm-input-submit:hover{background: url(images/tick-button.png) no-repeat 95% 10px #84B400!important;}

.memberstop { background:url(images/memberstop.png) no-repeat top center; left:0; top:0; color:#FFFFFF; padding:10px 0 0 0}

/*Partners Page*/

.partnerFull { display:block; height:auto; margin:20px 0;}
a.partnerLink { background: #84b400; color: #fff; float:right; width:140px; text-align: center; padding:8px 20px; margin:20px 0; }
a.partnerLink:hover { background: #5E8200;}
.factBlock { height:auto; background:#84b400; padding:20px; color:#fff; margin:30px 0;} 


.fullwidthfooter { border-top:1px #ccc solid; margin: 0px 0 80px 0; padding: 50px 0; background: #fff; }
.logofooter { padding:20px 0 0 0}
.logofooter p {}
.logofooter p span { font-size:10px}

.FootLinks{ padding: 0!important;}
.FootLinks ul{ list-style: none; float: left; padding: 10px 5px 0 0; margin: 0 0 0 15px!important }
.FootLinks li{  font-size: 13px; }
.FootLinks li a{ color: #666;}
.FootLinks li a.headLink { font-weight: 700;}

.footCopy{ font-size: 13px; padding: 20px 0 0 0;}

.nopadRight{ padding-right: 0!important;}

.intouch img {margin:5px 15px 5px 0 }
.intouch a { margin:120px 0!important; padding:20px 0}
.intouch h4, .social h4 { color:#84B400; font-size:19px; padding:10px 0 0 0}

.social{ width: auto; padding: 95px 0 0 0; float: right;  }
.social a{ width: 32px; height: 32px; display: block; float: left; text-align: right; background: url(images/socialsprite.gif) no-repeat; margin: 0px 0 0 5px;}
.social a.fbLink{background-position: 0 0;}
.social a.twitLink{background-position: -32px 0px;}
.social a.inLink{background-position: -64px 0;}
.social a.youLink{background-position: -96px 0;}


/*Blog Styles*/

.blogPostMain h1{ font-size: 30px!important;}


/*Comments Form*/
.guestBook-formBlock{ height: auto;}
.guestBook-formBlock input{ width: 100%; height: 30px; margin: 5px 0; border: solid 1px #ccc; }

.guestBook-formBlock textarea { width: 100%; height: 150px; margin: 12px 0 0 0; border: solid 1px #ccc; }

h4.guestBook-title {
border-bottom: 1px solid #ccc; padding: 0 0 10px 0;
margin-top: 30px; color: #84B400; font-size: 30px;
}

h5.guestBook-formBlock-title{ padding: 0 0 10px 0;}


.button{ background:#84B400; color:#FFF; border-radius:5px; -moz-border-radius:5px; padding:10px 0; width: 100%; display: block; cursor: pointer; border: none!important; font-size:18px; font-family: 'Open Sans', sans-serif; -webkit-transition: all .2s ease-in-out;
 -moz-transition: all .2s ease-in-out;
        -ms-transition: all .2s ease-in-out;
        -o-transition: all .2s ease-in-out;
 transition: all .2s ease-in-out; height: 50px!important; margin: 0!important;}
.button:hover{ background: #222;}


#bio #bioInfo {
padding: 20px;
background-color: #f4f4f4;
display: block;
width: 100%; float: left;
}

#bioInfo h4{ font-size: 22px; padding: 0;}


.blog-attributes{ border-top: solid 1px #ccc; border-bottom: solid 1px #ccc; padding: 10px 0; float: left;  width: 100%; margin: 0 0 30px 0;}

.blogElems{ width: auto; float: left; margin: 0 30px 0 0; }

.BlogNextPrevNav{ display: none;}


ul.contactList{ list-style: none; margin: 0;}

.formHolder{width: 360px; height: 380px;  margin: 0px 0 0 0px;}

.blog-attributes{ border-top: solid 1px #ccc; border-bottom: solid 1px #ccc; padding: 10px 0; float: left;  width: 100%; margin: 0 0 30px 0;}

.blogElems{ width: auto; float: left; margin: 0 30px 0 0; }

.BlogNextPrevNav{ display: none;}


ul.contactList{ list-style: none; margin: 0;}

.formHolder{width: 360px; height: 380px;  margin: 0px 0 0 0px;}

.watermark{ float: left; border: solid 1px #ccc; width: 100%; margin: 5px 0 10px 0; height: 35px; padding: 0 0 0 10px; font-size: 14px;}
.watermark2{ float: left; border: solid 1px #ccc; font-family: Arial, Helvetica, sans-serif; padding: 10px 0 0 10px; width: 100%;  height: 140px; font-size: 14px; margin: 0 0 10px 5px;}

.formButt{display: block;
width: 96%;
margin: 10px 0;
background: #F17F67;
color: #fff;
height: 40px;
line-height: 40px;
float: right; border: none; cursor: pointer; font-size: 18px; font-family: 'Open Sans', sans-serif; }
.formButt:hover{background:#333; }


/*ECOMMERCE STYLES*/

/*.productListprodHolder{padding: 10px; background: #333; margin: 0 0 20px 0;}*/

.ccm-core-commerce-add-to-cart-submit.btn.ccm-input-submit{ background: #84B400!important; color: #fff; }

a.ccm-productListImage{ color: #fff; font-size: 20px;}

.price.ccm-core-commerce-add-to-cart-product-price{ color: #fff;}
.btn.ccm-input-submit{ background: #84B400; color: #fff; border: none; padding: 8px 15px; cursor: pointer; }




/*BLOG STYLES*/

.nopad{ padding: 0!important;}
.nopadLeft{ padding-left: 0!important;}
ul.archived_list li { list-style-type:none; float:left; margin:5px;}

.partnerBlock { width:100%; height:auto; min-height:380px; overflow:hidden; margin:20px 0 30px 0; padding:20px 0; display:block; float:left; position:relative;}
.partnerTop { display:block; padding:0 0 10px 0; height:auto;}
.partnerBlock h3 { color:#84b400; font-size:26px; margin:0 0 10px 0;}

.partnerBlock img{ margin: 0 0 20px 0; float: left; }



/*FORM STYLES*/

.nopad{ padding: 0;}

.resourceNav{ width: 100%; background: #ccc; text-align: right; padding: 20px 0;}

.resourceNav a{ padding: 0 0 0 20px;}

.membersSignUp{ background: #333; padding: 20px; margin: 30px 0; color: #fff; }
.membOptionBox p{ font-size: 14px;}

.SignupFullWrap{ border-top: solid 3px #eee; padding: 30px 0 0 0; margin-top: 50px 0 0 0; float: left; width: 100%; height: auto;}
.SignupFullWrap h3{font-size: 30px; margin: 0!important; padding: 0!important;}

a.signButt{background: #43DDBF; color: #fff; width: 100%; padding: 5px; border-radius: 5px; display: block; text-align: center; font-weight: 700;}
a.signButtTrial{background: #F17F67; color: #fff; width: 100%; padding: 5px; border-radius: 5px; display: block; text-align: center; font-weight: 700;}

.membOptionBox{ background: #333!important; padding: 20px; color: #fff;}

.VideoHide{ display: none;}



/* Orbit Graceful Loading */

ul.example-orbit li img { margin:0 auto; }

.slideshow-wrapper {
  position: relative; }
  .slideshow-wrapper ul {
    list-style-type: none;
    margin: 0; }
    .slideshow-wrapper ul li,
    .slideshow-wrapper ul li .orbit-caption {
      display: none; }
    .slideshow-wrapper ul li:first-child {
      display: block; }
  .slideshow-wrapper .orbit-container {
    background-color: transparent; }
    .slideshow-wrapper .orbit-container li {
      display: block; }
      .slideshow-wrapper .orbit-container li .orbit-caption {
        display: block; }

.preloader {
  display: block;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -20px;
  margin-left: -20px;
  border: solid 3px;
  border-color: #555555 white;
  -webkit-border-radius: 1000px;
  border-radius: 1000px;
  -webkit-animation-name: rotate;
  -webkit-animation-duration: 1.5s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: rotate;
  -moz-animation-duration: 1.5s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  -o-animation-name: rotate;
  -o-animation-duration: 1.5s;
  -o-animation-iteration-count: infinite;
  -o-animation-timing-function: linear;
  animation-name: rotate;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear; }

.orbit-container { overflow: hidden; width: 100%; position: relative; background: none; min-height: 500px; }
.orbit-container .orbit-slides-container {list-style: none; margin: 0; padding: 0; position: relative; }
.orbit-container .orbit-slides-container img { display: block; max-width: 100%; }
.orbit-container .orbit-slides-container > * { position: absolute; top: 0; width: 100%; margin-left: 100%; }
.orbit-container .orbit-slides-container > *:first-child {
        margin-left: 0%; }

.orbit-container .orbit-slides-container > * .orbit-caption {
        position: absolute; top: 0; width: 100%; padding: 0.625rem 0.875rem;font-size: 0.875rem; }
		
.orbit-container .orbit-slide-number{ display: none;}		
		
/*.orbit-container .orbit-slide-number {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 12px;
    color: white;
    background: rgba(0, 0, 0, 0);
    z-index: 10; }

.orbit-container .orbit-slide-number span {font-weight: 700;padding: 0.3125rem; }*/
.orbit-container .orbit-timer {
    position: absolute;
    top: 12px;
    right: 10px;
    height: 6px;
    width: 100px;
    z-index: 10; }
.orbit-container .orbit-timer .orbit-progress {
      height: 3px;
      background-color: rgba(255, 255, 255, 0.3);
      display: block;
      width: 0%;
      position: relative;
      right: 20px;
      top: 5px; }
    .orbit-container .orbit-timer > span {
      display: none;
      position: absolute;
      top: 0px;
      right: 0;
      width: 11px;
      height: 14px;
      border: solid 4px white;
      border-top: none;
      border-bottom: none; }
    .orbit-container .orbit-timer.paused > span {
      right: -4px;
      top: 0px;
      width: 11px;
      height: 14px;
      border: inset 8px;
      border-right-style: solid;
      border-color: transparent transparent transparent white; }
      .orbit-container .orbit-timer.paused > span.dark {
        border-color: transparent transparent transparent #333333; }
  .orbit-container:hover .orbit-timer > span {
    display: block; }
  .orbit-container .orbit-prev,
  .orbit-container .orbit-next {
    position: absolute;
    top: 45%;
    margin-top: -25px;
    width: 36px;
    height: 60px;
    line-height: 50px;
    color: white;
    background-color: none;
    text-indent: -9999px !important;
    z-index: 10; }
    .orbit-container .orbit-prev:hover,
    .orbit-container .orbit-next:hover {
      background-color: rgba(0, 0, 0, 0.3); }
    .orbit-container .orbit-prev > span,
    .orbit-container .orbit-next > span {
      position: absolute;
      top: 50%;
      margin-top: -10px;
      display: block;
      width: 0;
      height: 0;
      border: inset 10px; }
  .orbit-container .orbit-prev {
    left: 0; }
    .orbit-container .orbit-prev > span {
      border-right-style: solid;
      border-color: transparent;
      border-right-color: white; }
    .orbit-container .orbit-prev:hover > span {
      border-right-color: white; }
  .orbit-container .orbit-next {
    right: 0; }
    .orbit-container .orbit-next > span {
      border-color: transparent;
      border-left-style: solid;
      border-left-color: white;
      left: 50%;
      margin-left: -4px; }
    .orbit-container .orbit-next:hover > span {
      border-left-color: white; }

.orbit-bullets-container {
  text-align: center; }

.orbit-bullets {
  margin: 0 auto 30px auto;
  overflow: hidden;
  position: relative;
  top: 10px;
  float: none;
  text-align: center;
  display: block; }
  .orbit-bullets li {
    display: inline-block;
    width: 0.5625rem;
    height: 0.5625rem;
    background: #cccccc;
    float: none;
    margin-right: 6px;
    -webkit-border-radius: 1000px;
    border-radius: 1000px; }
    .orbit-bullets li.active {
      background: #999999; }
    .orbit-bullets li:last-child {
      margin-right: 0; }

.touch .orbit-container .orbit-prev,
.touch .orbit-container .orbit-next {
  display: none; }
.touch .orbit-bullets {
  display: none; }
  
 
.content-membership-overlay-fadeout
{
	position: relative; 
	font-size: 15px;
	font-style: italic;
	margin: -150px 0 0 0;
	height: 150px;
	background: transparent url('images/fadeoutoverlay.png') repeat-x top left;
	z-index: 19;	 
	
}


  
  
@media only screen and (min-width: 40.063em) {
  .touch .orbit-container .orbit-prev,
  .touch .orbit-container .orbit-next {
    display: inherit; }
  .touch .orbit-bullets {
    display: block; } }
@media only screen and (max-width: 40em) {
  .orbit-stack-on-small .orbit-slides-container {
    height: auto !important; }
  .orbit-stack-on-small .orbit-slides-container > * {
    position: relative;
    margin-left: 0% !important; }
  .orbit-stack-on-small .orbit-timer,
  .orbit-stack-on-small .orbit-next,
  .orbit-stack-on-small .orbit-prev,
  .orbit-stack-on-small .orbit-bullets {
    display: none; } }








@media only screen and (max-width: 980px) {
.orbit-container { overflow: hidden; width: 100%; position: relative; background: none; min-height: 500px; }
.pro_navbar {
	min-height: 20px;
	 padding: 5px 20px;
	 background:#555;
	 border-radius:8px;
	 -moz-border-radius:8px;
	 -webkit-border-radius:8px;
	 margin:0 5%;
}

@media only screen and (max-width: 640px) {
.topRowPad{ padding: 340px 0 0 0;}
.nopadLeft{ padding-left: 20px!important;}
.logo img { margin:0 auto; display:block; height:auto; margin:0 5%;}
a.loginLink{ margin: 0 5%; width: 40%; float:left; padding:8px 0; text-align:center;}
a.registerLink{ margin: 0 5%; width: 40%; float:left; padding:8px 0; text-align:center;}
.Homeform img { margin:0 auto; display:block; height:auto;}
.Homeform h2 { text-align:center; margin:0 5%;}
.Homeform p { text-align:center; margin:0 5%;}
.homeIntro { min-height:330px;}
.fullwidthSlider { display:none;}
.videoResponsive { display:block; padding:330px 0 30px 0; background:#333; min-height:450px; height:auto;}
.IntroTextHolder{ display:none;}
.bigButt { margin:0 auto; display:block; float:none; width:84%; padding:10px 60px;}
.partners p { padding:0;}
.membersWide{ padding: 10px 0 30px 0;}
.membersWide h3 { text-align:center; padding:10px 0;}
.membersWide p, .membersWide h2 { text-align:center;}
.membersWide img { display:block; margin:0 auto;}
.memberResponsiveImage { display:block;}
.responsiveHide { display:none;}
.guideForm{padding-right: 20px!important;}
.textPad { padding:0 10%; }
.ccm-core-commerce-add-to-cart-image { margin:0 auto; display:block;}
.blog { margin:20px 0}
.productListprodHolder img { margin:0 auto; height:auto; }
a.ccm-productListImage { text-align:center; margin:0 auto; display:block;}
.ccm-core-commerce-add-to-cart-product-price { text-align:center; margin:5px 0; }
.btn.ccm-input-submit { margin:0 auto; display:block;}
.membersbox h3 { padding:40px 0 0 0;}

.content-sbBlog-date { margin:0 0 8px 0; background:#eee; width:100%; padding:4px 0;}
.content-category p { margin:0 0 8px 0; float:left;}
h3.ccm-page-list-title a { display:block; margin:0 auto; text-align:center!important; float:none;}
a.readmore { display:block; margin:0 auto; text-align:center;}

}

@media only screen and (max-width: 400px) {
.topRowPad{ padding: 300px 0 0 0;}
h2.home-Right{ color: #84b400; font-size: 30px; font-weight: 700; text-align: center; padding: 125px 0 0 0; }
p.home-Right{ font-size: 20px; padding: 10px 0 40px 0; font-weight: 400; text-align: center; color: #222; }
a.video{ background: #fff url(images/video-link-icon.png) no-repeat 92% center; padding: 15px 60px 15px 20px; margin: 30px 0 0 0; color:#444; border-radius:8px; -webkit-border-radius:8px; -moz-border-radius:8px; font-weight:700; font-size: 22px; 
-webkit-box-shadow: 1px 1px 1px 1px #616161;
box-shadow: 1px 1px 1px 1px #616161; float: right;}		
.fullwidthnav { padding-bottom:20px;}
a.loginLink{ margin: 0 5%; width: 40%; float:left; padding:8px 0; text-align:center;}
a.registerLink{ margin: 0 5%; width: 40%; float:left; padding:8px 0; text-align:center;}
.nopad{ padding: 0; padding-left: 0.9375em;
  padding-right: 0.9375em;}
.nopadLeft{padding-left: 0.9375em;}
.VideoHide{ display: block;}

.fullwidthSlider{width:100%; margin:0; position: relative; float: left; min-height: 400px; padding: 255px 0 0 0;}
.bigButt { margin:0 auto; display:block; float:none; width:92%; padding:10px;}


}

