@charset "UTF-8";
/* CSS Document */
/*Colours - green #84b400;*/

*{ padding: 0; margin: 0;}
body { font-family: 'Open Sans', sans-serif; color: #444; font-weight: 300; font-style: normal;}

.mainContainer { height:100%; width:100%; padding:0 0 80px 0;
background: #ffffff; /* Old browsers */
background: -moz-linear-gradient(top,  #ffffff 0%, #ffffff 68%, #f7f7f7 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(68%,#ffffff), color-stop(100%,#f7f7f7)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #ffffff 0%,#ffffff 68%,#f7f7f7 100%); /* Chrome10+,Safari5.1+ */

background: -o-linear-gradient(top,  #ffffff 0%,#ffffff 68%,#f7f7f7 100%); /* Opera 11.10+ */

background: -ms-linear-gradient(top,  #ffffff 0%,#ffffff 68%,#f7f7f7 100%); /* IE10+ */

background: linear-gradient(to bottom,  #ffffff 0%,#ffffff 68%,#f7f7f7 100%); /* W3C */

filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f7f7f7',GradientType=0 ); /* IE6-9 */
}

h1{ color:#84b400; font-size:2.8em; margin:0 0 20px 0; line-height:120%;}
h2{ color: #333;}
h3{ font-family: 'Open Sans', sans-serif; color: #333; font-weight: 700; font-style: normal; margin:20px 0 20px 0;}

aside h3{color:#84b400!important; font-size: 19px; border-bottom: 1px #e9e9e9 solid; padding: 0 0 10px 0; margin: 0 0 10px 0;}

.partnerFull{ width: 100%; background: #f4f4f4; float: left; padding: 30px 0;} 
img.PartnerLogo{ padding: 15px 0 30px 0; border-top: 1px #e9e9e9 solid;}

h3.home { font-size:46px; color:#84B400; text-align:center; font-weight:300; margin:30px 0 20px 0; line-height:46px; }
h3.home span { font-weight:700; display:block;}
.centered { text-align:center;}
.textPad { padding:0 100px; margin:0 0 30px 0;}

a { color:#84b400; text-decoration:none; -webkit-transition: all .2s ease-in-out;
 -moz-transition: all .2s ease-in-out;
        -ms-transition: all .2s ease-in-out;
        -o-transition: all .2s ease-in-out;
 transition: all .2s ease-in-out;}
 
.mainBody h2{ padding-right: 15px;  padding: 0 0 30px 0;}
.mainBody p{ padding-right: 15px;}
.mainBody ul{ margin: 15px 0 15px 25px;} 

.topRowPad{ padding: 120px 0 0 0;}
.shareSocial{ border-top: solid 1px #333; border-bottom: solid 1px #333; padding: 10px 0; marging: 10px 0; text-align: center; }
.fullwidthnav { width:100%; background:#333; padding:10px 0; -webkit-box-shadow: 0 3px 3px 1px rgba(0,0,0,.3);
box-shadow: 0 3px 3px 1px rgba(0,0,0,.3); position: fixed; z-index: 20; }

p{ padding: 6px 0;}

.rowWide{width: 100%;}
.logo { margin:8px 0 0 0; padding: 0 25px 0 0!important; }
.topLinks { margin:20px 0 0 0; }
a.loginLink{ background: #84B400; color: #fff; padding: 4px 15px;  float:left; margin:0 20px 10px 0; font-size:12px; display:block;}
a.registerLink{ background:url(images/icon-login.png) no-repeat 0 6px; color: #999; margin:0 0 10px 0; padding:5px 0 5px 18px; font-size:12px; float:left; display:block;}
a.loginLink:hover{ background: #5E8200;}
a.registerLink:hover{ color: #fff;}


/*Next Prev Nav*/
.ccm-next-previous-wrapper{ width: 90px; float: right; }
.ccm-next-previous-parentlink{ display: none;}
.ccm-next-previous-previouslink a,.ccm-next-previous-nextlink a{ display: block; background: #333; color: #ccc; width: 40px; height: 40px; float: right; text-align: center; font-size: 30px; font-weight: 700; line-height: 38px; border-radius:5px; -webkit-border-radius:5px; -moz-border-radius:5px;  }
.ccm-next-previous-previouslink a:hover,.ccm-next-previous-nextlink a:hover{background: #666; color: #fff;}


/*.nav { background:none}
ul.nav { list-style-type:none!important; padding:10px 0px px 0px; text-align:left}
.nav li { display:inline; text-align:left; padding:10px 35px 0 0}
.nav a { display:inline-block; color:#fff}
.nav a:hover { color:#84B400; }*/

.login a { background:#84B400}

.homeIntro{min-height: 500px;  position: relative; padding-top: 100px; }

.fullwidthheader { width:100%; margin:0; position: relative; background: #333; float: left; min-height: 700px; }

.fullwidthform{width:100%; margin:0; position: relative; background: #333; float: left;}

.fullwidthheader img{ position: absolute; top: 70px;}

.IntroTextHolder{ position: absolute; z-index: 1; width: 400px; height: 300px; text-align: right;
right: 0; padding: 70px 0 0 0; }

.IntroTextHolder h2{ color: #84b400; font-size: 60px; font-weight: 700; }
.IntroTextHolder p{ font-size: 28px; padding: 10px 0 40px 0; font-weight: 300;}
a.video{ background: #fff url(images/video-link-icon.png) no-repeat 92% center; padding: 15px 60px 15px 20px; margin: 30px 0 0 0; color:#444; border-radius:8px; -webkit-border-radius:8px; -moz-border-radius:8px; font-weight:700; font-size: 22px; 
-webkit-box-shadow: 1px 1px 1px 1px #616161;
box-shadow: 1px 1px 1px 1px #616161;}

a.video:hover{background: #f4f4f4 url(images/video-link-icon.png) no-repeat 92% center;}
.membersSignUpSide{ background: #333; float: left; margin: 30px 0; padding: 20px; color: #fff;}

.videoResponsive { display:none;}
.videoResponsive h2{ color: #84b400; font-size: 62px; font-weight: 700; text-align:center; }
.videoResponsive p{ font-size: 24px; padding: 10px 0 40px 0; font-weight: 300; color:#fff; text-align:center;}



/*Form Styles*/
.sideForm{ background: #84b400; padding: 20px; margin: 20px 0;}
.sideForm img{ float: right; width: 100px; }
.sideForm h2{ margin: 0!important; color: #fff;}

.reveal-modal{ max-width: 853px;}



.button { margin:200px 0 0 480px}
.button h1 { color:#84B400; font-size:66px; padding:0; margin:0}
.button p { font-size:20px; padding:0; margin:10px 0 40px 0}
.button a { background:#FFFFFF; border-radius:7px; padding:15px 40px; text-decoration:none; color:#3F3F3F; font-size:26px}

.name { color:#FFFFFF; margin:250px 0 0 0 }

.fullwidthform { width:100%; background:#84B400; margin:0 0 25px 0; padding:10px 0; float:left; }
.Homeform{padding: 20px 0;}
.Homeform h2 { color:#FFFFFF; font-size:36px; padding:10px 0 0 0; margin:0}
.Homeform p {color:#FFFFFF; font-size:14px }
.formSubmitButton { background:#333; color:#FFF; border-radius:5px; -moz-border-radius:5px; padding:10px 0; width: 100%; display: block; cursor: pointer; border: none; font-size:18px; font-family: 'Open Sans', sans-serif; -webkit-transition: all .2s ease-in-out;
 -moz-transition: all .2s ease-in-out;
        -ms-transition: all .2s ease-in-out;
        -o-transition: all .2s ease-in-out;
 transition: all .2s ease-in-out;}
.formSubmitButton:hover{ background: #222;}

.guideForm{ padding: 30px 0 0 0;}
.formIntro{ padding: 0!important;}
.guideForm{padding-right: 0!important;}

.bulk { text-align:center}
.bulk h3 { font-size:36px; color:#84B400}
.bulk p { padding:0 65px }

.cluboffer { padding:10px 0}
.sache { background:url(images/offerribbon.png) no-repeat top left; position:absolute; top:0; left:0; width:338px; height:333px}
.offerbox { background:#424251; padding:10px 0}
.offerinfo p{ color:#FFFFFF; text-align:left!important; padding:0}
.offerprice { background:url(images/offerprice.png) no-repeat left top; width:66px; height:47px}
.offerpricetwo { background:url(images/offerpricetwo.png) no-repeat left top; width:66px; height:47px}
.offerpricethree { background:url(images/offerpricethree.png) no-repeat left top; width:66px; height:47px}
.offerpricefour { background:url(images/offerpricefour.png) no-repeat left top; width:66px; height:47px}
.offerpricefive { background:url(images/offerpricefive.png) no-repeat left top; width:66px; height:47px}
.offerpricesix { background:url(images/offerpricesix.png) no-repeat left top; width:66px; height:47px}

.fullwidthtest { width:100%; background:#eeeeee; margin:50px 0;}

.testimonial { margin:50px 0}

.blog { margin:50px 0}
.blog h4 { color:#84B400; font-size:28px; margin:20px 0 0 0}

/*Testimonials*/

.testBlock { height:auto; display:block; position:relative; float: left; margin:20px 0;}
.testBlockInner { background:#fff; border-radius:12px; -webkit-border-radius:12px; moz-border-radius:12px; padding:30px; color:#444; -webkit-box-shadow: 0 1px 1px 1px #B8B8B8; box-shadow: 0 1px 1px 1px #B8B8B8; margin:0 0 30px 0;}
.testbottom { background: url(images/testpoint.png) no-repeat left; position:absolute; bottom:52px; left:50px; width:47px; height:28px}
.testbottomPartners { background: url(images/testpoint.png) no-repeat left; position:absolute; bottom:46px; left:50px; width:47px; height:28px}
.testBlockInner h3{ margin: 0!important;}
.testimage { margin-bottom:30px; }
.testBlock img { float:left; margin:0 10px 0 0; height:50px; width:50px;}
.testBlock h5 { color:#84b400; font-size:16px; font-weight:700; margin:10px 0 0 0 ;}
.testBlock h5 span { color:#444; display:block; font-weight:300;}


.partners { text-align:center; padding:0 0 30px 0;}
.partners h3 { font-size:46px; color:#84B400; text-align:center; font-weight:300; margin:30px 0 20px 0; line-height:46px}
.partners h3 span { font-weight:700; display:block; }
.partners p { padding:0 70px}
.partlogos { margin:25px 0 50px 0; padding:10px 150px 40px 150px; display:block;}

.fullwidthmembers { width:100%; background: url(images/membersbg.gif) repeat-x top center; margin:40px 0; float: left;}
.members { text-align:center; color:#FFFFFF; padding: 0 0 40px 0;}
h3.memberTitle { color:#fff; font-weight:700; font-size:40px;}
p.memberIntro { color:#fff; margin:20px 0;}
p.memberIntro span { font-weight:700; color:#84B400;}

span.tick{ background: #f00;  }

/*Members table*/

.membersbox .grid-2half h4{ text-align: center;
padding: 40px 0 0 0;
text-transform: uppercase;
color: #444;
font-size: 16px;}

.membersbox .grid-2half a{ display: block; width: 90%; margin: 45px 5% 30px 5%; background: #F17F67; color: #fff; height: 40px; line-height: 40px; float: left;}

.membersbox .grid-2half a:hover{ background: #84B400;}

.membersbox .grid-2half p{ text-align: center; font-size: 14px; display: block; height: 100px;}

.membersbox .grid-2half p span{ font-size: 11px;}

.membersbox .grid-2half ul{ list-style: none; margin: 0 0 40px 0}
.membersbox .grid-2half ul li{ text-align: center; padding:0px 0 20px 0px; min-height: 40px; display: block; width: 100%; float: left;}
.membersbox .grid-2half ul li.deepLine{ min-height: 40px; padding:0px 0 42px 0px;}


.anp-icon-check{color: #84B400; font-size: 26px;}
.anp-icon-times{ color: #F17F67; font-size: 26px;}

.membersbox {background:url(images/member-table-top.gif) no-repeat 0px -4px #FFFFFF; color:#6C6C72; border-radius:7px; -webkit-box-shadow: 0 2px 10px 1px rgba(122,122,122,122);
box-shadow: 0 2px 10px 1px rgba(122,122,122,122); padding: 30px 0; }
.membersbox p { text-align:left; padding-left:0}
.membersbox h3  { text-align:left; padding:127px 0 0 0; margin: 0; text-transform:uppercase; color:#444; font-size:16px;}
.membersbox ol { text-align:left; text-decoration:none; margin:0; padding:15px; list-style-type:none; padding:10px 0 0 0; font-size: 14px;}
.membersbox li { padding:10px 0 10px 0px;}
a.members { background: #f17f67; color: #fff; width: 96%; display: block; text-align: center; border-radius:8px; -webkit-border-radius:8px; moz-border-radius:8px; margin:0 5px; padding:6px 0;}
a.members:hover { background: #84b400;}
.freetrial ul { list-style-type:none; text-align:left; margin:0; padding: 10px 0 0 20px}

.memberList { font-size:24px!important; font-weight:700; color:#444; float:left; padding:10px 0 0 0;}


.membersWide{ padding: 30px 50px;}
.membersWide h3{ padding: 30px 0px; color: #84B400; font-weight:700;}

td.MemberHead{ background: #000; }

.membPrice{ font-size: 60px;}

p.membPrice span{font-size: 13px;}


.squeezeForm h1{ color: #333; font-size: 60px;}

.buttonHolder{ padding: 30px 0 0 0;}

.buttonHolder .btn.ccm-input-submit {
background: url(images/tick-button.png) no-repeat 95% -50px #F17F67!important; font-size: 30px; 
color: #fff; font-family: 'Open Sans', sans-serif;
border: none;
padding: 10px 15px; width: 90%; margin: 0 5%;
cursor: pointer; -webkit-transition: all .2s ease-in-out;
 -moz-transition: all .2s ease-in-out;
        -ms-transition: all .2s ease-in-out;
        -o-transition: all .2s ease-in-out;
 transition: all .2s ease-in-out;
}

.buttonHolder .btn.ccm-input-submit:hover{background: url(images/tick-button.png) no-repeat 95% center #84B400!important;}

.memberstop { background:url(images/memberstop.png) no-repeat top center; left:0; top:0; color:#FFFFFF; padding:10px 0 0 0}

/*Partners Page*/

.partnerFull { display:block; height:auto; margin:20px 0;}
a.partnerLink { background: #84b400; color: #fff; float:right; width:140px; text-align: center; padding:10px 20px; margin:20px 0; border-radius:8px; -webkit-border-radius:8px; moz-border-radius:8px; font-weight:700;}
a.partnerLink:hover { background: #f17f67;}
.factBlock { height:auto; border-radius:12px; -webkit-border-radius:12px; moz-border-radius:12px; background:#84b400; padding:20px; color:#fff; margin:30px 0;} 


.fullwidthfooter { border-top:1px #ccc solid; margin:0 0 80px 0; padding: 50px 0; }
.logofooter { padding:20px 0 0 0}
.logofooter p {}
.logofooter p span { font-size:10px}

.FootLinks{ padding: 0!important;}
.FootLinks ul{ list-style: none; float: left; padding: 10px 5px 0 0; }
.FootLinks li{  font-size: 13px; }
.FootLinks li a{ color: #666;}
.FootLinks li a.headLink { font-weight: 700;}

.footCopy{ font-size: 13px; padding: 20px 0 0 0;}

.nopadRight{ padding-right: 0!important;}

.intouch img {margin:5px 15px 5px 0 }
.intouch a { margin:120px 0!important; padding:20px 0}
.intouch h4, .social h4 { color:#84B400; font-size:19px; padding:10px 0 0 0}

.social{ width: auto; padding: 0px 0 0 0; float: right;  }
.social a{ width: 32px; height: 32px; display: block; float: left; text-align: right; background: url(images/socialsprite.png) no-repeat; margin: 0px 0 0 5px;}
.social a.fbLink{background-position: 0 0;}
.social a.twitLink{background-position: -32px 0px;}
.social a.inLink{background-position: -64px 0;}




/*ECOMMERCE STYLES*/

/*.productListprodHolder{padding: 10px; background: #333; margin: 0 0 20px 0;}*/

.ccm-core-commerce-add-to-cart-submit.btn.ccm-input-submit{ background: #84B400!important; color: #fff; }

a.ccm-productListImage{ color: #84B400; font-size: 22px;}

.price.ccm-core-commerce-add-to-cart-product-price{ color: #fff;}
.btn.ccm-input-submit{ background: #84B400; color: #fff; border: none; padding: 8px 15px; cursor: pointer; }



/*BLOG STYLES*/

.nopad{ padding: 0!important;}
.nopadLeft{ padding-left: 0!important;}
ul.archived_list li { list-style-type:none; float:left; margin:5px;}

/*FORM STYLES*/

.nopad{ padding: 0;}

.resourceNav{ width: 100%; background: #ccc; text-align: right; padding: 20px 0;}

.resourceNav a{ padding: 0 0 0 20px;}

.membersSignUp{ background: #333; padding: 20px; margin: 30px 0; color: #fff; }

a.signButt{background: #84b400; color: #fff; width: 100%; padding: 5px; border-radius: 5px;}

.VideoHide{ display: none;}

@media only screen and (max-width: 980px) {

.pro_navbar {
	min-height: 20px;
	 padding: 5px 20px;
	 background:#555;
	 border-radius:8px;
	 -moz-border-radius:8px;
	 -webkit-border-radius:8px;
	 margin:0 5%;
}

@media only screen and (max-width: 640px) {
.logo img { margin:0 auto; display:block; height:auto; margin:0 5%;}
a.loginLink{ margin: 0 5%; width: 40%; float:left; padding:8px 0; text-align:center;}
a.registerLink{ margin: 0 5%; width: 40%; float:left; padding:8px 0; text-align:center;}
.Homeform img { margin:0 auto; display:block; height:auto;}
.Homeform h2 { text-align:center; margin:0 5%;}
.Homeform p { text-align:center; margin:0 5%;}
.homeIntro { min-height:330px;}
.videoResponsive { display:block; padding:0 0 30px 0;}
.IntroTextHolder{ display:none;}
.guideForm{padding-right: 20px!important;}
.textPad { padding:0 10%; }
.ccm-core-commerce-add-to-cart-image { margin:0 auto; display:block;}
.blog { margin:20px 0}
.productListprodHolder img { margin:0 auto; height:auto; }
a.ccm-productListImage { text-align:center; margin:0 auto; display:block;}
.ccm-core-commerce-add-to-cart-product-price { text-align:center; margin:5px 0; }
.btn.ccm-input-submit { margin:0 auto; display:block;}
}

@media only screen and (max-width: 400px) {

.fullwidthnav { padding-bottom:20px;}
a.loginLink{ margin: 0 5%; width: 40%; float:left; padding:8px 0; text-align:center;}
a.registerLink{ margin: 0 5%; width: 40%; float:left; padding:8px 0; text-align:center;}
.nopad{ padding: 0; padding-left: 0.9375em;
  padding-right: 0.9375em;}
.nopadLeft{padding-left: 0.9375em;}
.VideoHide{ display: block;}


}