.content-sbBlog-commentcount{margin-right: 25px; clear: right; float: right;}
.content-sbBlog-share{ margin-right: 25px; clear: right; float: right; }
.chicklets{padding-left: 10px!important;}
.custom_style{ margin-top: 12px; text-decoration: none!important; padding: 4px 8px 6px 8px; float: right;}
.custom_style:hover{cursor: pointer}